/* Main container styling */
.filterContainer {
    background-color: #f3f4f6;
    padding: 16px;
    border-radius: 8px;
    width: 250px;
    min-width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Title Styling */
.filterTitle {
    font-size: 1.25rem;
    font-weight: 600;
    color: #1f2937;
    margin-bottom: 10px;
}

/* Horizontal line */
.filterDivider {
    border-bottom: 2px solid #e5e7eb;
    margin-bottom: 12px;
}

/* CSS */
.dropdownButton {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.dropdownButton:hover {
  background-color: rgb(249,250,251);
}

.dropdownButton:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.dropdownButton:focus-visible {
  box-shadow: none;
}

/* Dropdown arrow */
.arrow {
    transition: transform 0.3s ease;
}

.arrow.up {
    transform: rotate(180deg);
}

/* Dropdown content */
.dropdownContent {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    z-index: 10;
}

/* Checkbox Styling */
.filterCheckbox {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 0.95rem;
    color: #4b5563;
}

/* Input Checkbox */
.filterCheckbox input {
    width: 16px;
    height: 16px;
    accent-color: #2563eb;
    cursor: pointer;
}

/* Button Styling */
.clearFilterButton {
    width: 100%;
    background-color: #6b7280;
    color: white;
    font-size: 1rem;
    padding: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-top: 10px;
}

.clearFilterButton:hover {
    background-color: #4b5563;
}
